/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.date-selector {
    display: block;
    width: 300px;
    height: 300px;
}

#date-picker {
    color: #1194f6;
}

.datepicker {
    width: 400px!important;
    border-radius: 0!important;
}

.datepicker .dropdown-menu {
    padding: 0!important;
}

.datepicker table td {
    border: none;
}

.datepicker table thead {
    padding: 0!important;
}

.datepicker table th {
    border: none;
}

.datepicker table .btn-default {
    border-color: transparent;
    border: none;
    border-radius: 0;
}

.datepicker.btn {
    border-radius: 0;
    border: 1px solid transparent;
}
